.teams{
  margin: 0 75px;
  h1 {
    color: black;
    font-size: 3.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  .headline {
    color: #777;
    font-weight: 300;
    font-size: 2rem;
  }

  .newTeamLink {
    display: inline-block;
    float: right;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    border: 1px solid #ccc;
    padding: 15px;
    background-color:#2C689D;
    border-radius: 5px;
  }
  .teamName{
    font-weight:bolder;
    display: inline;
  }
  li{
    line-height: 1.5;
  }
  a {
    color:#2C689D;
  }
}
